* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}


.flex-container{
    display:flex;
    flex-flow:row nowrap;
    justify-content: center;
    align-items: center; 
}

main{
    margin:auto;
}

main .flex-container{
    border: 2px solid whitesmoke;
    border-radius: 15px;
    margin:50px;
}

#hero{
    background:url('images/bg-hero-desktop.svg');
    /* background-repeat: repeat-y; */
}

.top-nav{
    margin-bottom: 100px;
}


.flex-items {
    margin: 20px;
   
}

.huddle{
    position: absolute;
    top: 0;
    left:0;
}

.free{
    position: absolute;
    top: 0;
    right:0;
    border: 1px solid rgb(240, 236, 236);
    border-radius: 25px;
    background: white;
    padding: 10px;
    width:150px;
    cursor: pointer;
}

.started{
    border: 1px solid rgb(240, 236, 236);
    border-radius: 25px;
    background: pink;
    padding: 10px;
    width:150px;
    color:white;
    margin-top: 20px;
    cursor: pointer;
}

.started-buttom{
    border: 1px solid rgb(240, 236, 236);
    border-radius: 25px;
    background: pink;
    padding: 10px;
    width:150px;
    color:white;
    cursor: pointer;
    margin-top: 40px;
}


img{
    max-width: 400px;
    height: auto;
}

#z-index{
    z-index:1000;
    max-width: 500px;
    height: 200px;
    position: relative;
    bottom:-60px;
    left: 400px;
    background:white;
    color:dark;
    text-align: center;
    padding: 20px;
    border: 2px solid whitesmoke;
    border-radius: 15px;
}

footer{
    background: black;
    color:white;
    padding: 100px;
}


@media screen and (max-width: 800px) {
    #hero{
        background:url('images/bg-hero-mobile.svg');
    }
    
    header.flex-container, main .flex-container, footer.flex-container{
        flex-flow:column nowrap;
    }

    img{
        max-width: 200px;
        height: auto;
    }

    #z-index{
        left: 0;
        right: 0;
    }
    
   }